html {
  width: 100%;
  height: 100%;
  background-color: #f8fafd;
}
body {
  width: 100%;
  height: 100%;
  font-family: "PingFang SC" !important;
  overflow-y: scroll;
  min-width: 1300px;
}
.nowrap {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.layout-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}

.box-cols {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}
